

:root {
    --footer_color: #111f4d;
  }

  .benefits {
    background-color: var(--footer_color);
  }

  .button1 {
    background-color: var(--footer_color);
  }

footer {
  background-color: var(--footer_color);
}

footer a {
  text-decoration: none;
}