

:root {
    --footer_color: #111f4d;
  }

  .benefits {
    background-color: var(--footer_color);
  }

  .button1 {
    background-color: var(--footer_color);
  }

   .steps {
    border: 1px solid black;
   }

  .pic4 {
    width: 250px;
  }
  /* .step1 {
    margin
    }
  }  */

footer {
  background-color: var(--footer_color);
}

footer a {
  text-decoration: none;
}